{% extends "layout/base_dash.html" %}

{% block head_title %} Dashboard {% endblock head_title %}

{% block contentdash %}
<div class="gerar_orcamento" style="padding: 30px;background-color: #F5F5F5;border-radius: 20px;">
    <h6>Gerar Orçamento</h6>
</div>
<div class="historico_orcamento" style="margin-top: 20px; padding: 30px;background-color: #F5F5F5;border-radius: 20px;">
    <h6>Últimos orçamentos gerados</h6>
    <div class="lista_orc" style="padding: 10px;background-color: #fff;border-radius: 20px;"></div>
</div>
{% endblock contentdash %}
