{% extends "layout/base_dash.html" %}

{% block head_title %} Histórico {% endblock head_title %}

{% block contentdash %}
<div class="card" style="margin-top: 20px; padding: 30px;background-color: #F5F5F5;border-radius: 20px;">
    <h4>Histórico de Orçamentos</h4>
    <hr>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">col</th>
                <th scope="col">col</th>
                <th scope="col">col</th>
                <th scope="col">col</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>informação</td>
                <td>informação</td>
                <td>informação</td>
                <td>informação</td>
            </tr>
            <tr>
                <td>informação</td>
                <td>informação</td>
                <td>informação</td>
                <td>informação</td>
            </tr>
            <tr>
                <td>informação</td>
                <td>informação</td>
                <td>informação</td>
                <td>informação</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock contentdash %}
